.biography {
  padding: 15px 15px;
  justify-content: center;
  display: flex;
}
.biography__div {
  display: flex;
  width: 1136px;
  justify-content: space-between;
  align-items: center;
}
.biography__profile {
  width: 35%;
  border-radius: 368px;
}
.biography__container {
  flex-shrink: 0;
  width: 751px;
  gap: 24px;
  display: flex;
  color: #ffffff;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
  padding: 15px;
}
.biography__container a {
  text-decoration: none;
  color: #ffffff;
}
.biography__network {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 751px;
  gap: 24px;
  flex-shrink: 0;
  font-size: 25px;
  text-decoration: none;
  list-style: none;
}
.biography__network__item a {
  color: #0037ff;
}
.fa-brands {
  color: #ffffff;
}
.title__network__item a {
  color: #0037ff;
  text-decoration: none;
}
.about {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: #ffffff;
  width: 100%;
}
.box-skills {
  background: url(../assets/VS-CODE.png);
  border-radius: 15px;
  background-repeat: no-repeat;
  background-size: cover;
}
.skills__title {
  display: flex;
  justify-content: flex-end;
  color: #ffea00;
  text-transform: uppercase;
  font-size: 25px;
}
.skills__line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-transform: uppercase;
  margin: 25px;
  padding: 25px;
  height: 450px;
  justify-content: center;
  align-items: center;
}
.skills__box ul {
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 185px;
  height: 115px;
  justify-content: space-between;
  border: 1px solid #0037ff;
  border-radius: 15px;
  margin: 5px 15px;
  padding: 5px 15px;
  transition: 0.3s all;
}
.skills__box ul:hover {
  backdrop-filter: blur(15px);
  background: transparent;
  cursor: pointer;
  color: #ff0000;
  border: 2px solid #ff0000;
  transform: scale(1.1);
}
.skills__name,
.skills__img {
  align-items: center;
  list-style: none;
}
.skills__img img {
  width: 65px;
  transition: 1s all;
}
.skills__img:hover img {
  transform: rotate(360deg);
}
.skills__menu  {
  color: #ffea00;
  display: flex;
  justify-content: flex-end;
}
.skills__menu i {
  margin-left: 5px;
}
.hobbies__line {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-transform: uppercase;
  margin: 25px;
  padding: 25px;
  height: 450px;
  justify-content: center;
  align-items: center;
}
.hobbies__box ul {
  backdrop-filter: blur(2px);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 185px;
  height: 145px;
  justify-content: space-between;
  border: 1px solid #0037ff;
  border-radius: 15px;
  margin: 5px 15px;
  padding: 5px 15px;
  transition: 0.3s all;
}
.hobbies__box ul:hover {
  backdrop-filter: blur(15px);
  background: transparent;
  cursor: pointer;
  color: #ff0000;
  border: 2px solid #ff0000;
  transform: scale(1.1);
}
.hobbies__img,
.hobbies__name {
  align-items: center;
  list-style: none;
}

